html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 About
        p Semplice interfaccia modulare di test.
        a.btn.btn-primary(href="/") Torna alla home