html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 MPD Web Controller
        br
        p Benvenuto nella versione di test del Controller!&nbsp;
        p
            a.btn.btn-primary(href="/player") Procedi all'interfaccia
            | &nbsp;
            a.btn.btn-primary(href="/about") Info